<!-- Header Type 1 -->
<header id="header" class="header header_sticky">
  <div class="container">
    <div class="header-desk header-desk_type_1">
      <div class="logo">
        <a href="/">
          <img src="../images/logo.png" alt="Uomo" class="logo__image d-block">
        </a>
      </div><!-- /.logo -->

      <nav class="navigation">
        <ul class="navigation__list list-unstyled d-flex">
          <li class="navigation__item">
            <a href="#" class="navigation__link">Home</a>
            <div class="box-menu" style="width: 800px;">
              <div class="col pe-4">
                <ul class="sub-menu__list list-unstyled">
                  <li class="sub-menu__item"><a href="/" class="menu-link menu-link_us-s">Home 1</a></li>
                  <li class="sub-menu__item"><a href="/Demo2/index.html" class="menu-link menu-link_us-s">Home 2</a></li>
                  <li class="sub-menu__item"><a href="/Demo3/index.html" class="menu-link menu-link_us-s">Home 3</a></li>
                  <li class="sub-menu__item"><a href="/Demo4/index.html" class="menu-link menu-link_us-s">Home 4</a></li>
                  <li class="sub-menu__item"><a href="/Demo5/index.html" class="menu-link menu-link_us-s">Home 5</a></li>
                  <li class="sub-menu__item"><a href="/Demo6/index.html" class="menu-link menu-link_us-s">Home 6</a></li>
                </ul>
              </div>

              <div class="col pe-4">
                <ul class="sub-menu__list list-unstyled">
                  <li class="sub-menu__item"><a href="/Demo7/index.html" class="menu-link menu-link_us-s">Home 7</a></li>
                  <li class="sub-menu__item"><a href="/Demo8/index.html" class="menu-link menu-link_us-s">Home 8</a></li>
                  <li class="sub-menu__item"><a href="/Demo9/index.html" class="menu-link menu-link_us-s">Home 9</a></li>
                  <li class="sub-menu__item"><a href="/Demo10/index.html" class="menu-link menu-link_us-s">Home 10</a></li>
                  <li class="sub-menu__item"><a href="/Demo11/index.html" class="menu-link menu-link_us-s">Home 11</a></li>
                  <li class="sub-menu__item"><a href="/Demo12/index.html" class="menu-link menu-link_us-s">Home 12</a></li>
                </ul>
              </div>

              <div class="col pe-4">
                <ul class="sub-menu__list list-unstyled">
                  <li class="sub-menu__item"><a href="/Demo13/index.html" class="menu-link menu-link_us-s">Home 13</a></li>
                  <li class="sub-menu__item"><a href="/Demo14/index.html" class="menu-link menu-link_us-s">Home 14</a></li>
                  <li class="sub-menu__item"><a href="/Demo15/index.html" class="menu-link menu-link_us-s">Home 15</a></li>
                  <li class="sub-menu__item"><a href="/Demo16/index.html" class="menu-link menu-link_us-s">Home 16</a></li>
                  <li class="sub-menu__item"><a href="/Demo17/index.html" class="menu-link menu-link_us-s">Home 17</a></li>
                  <li class="sub-menu__item"><a href="/Demo18/index.html" class="menu-link menu-link_us-s">Home 18</a></li>
                </ul>
              </div>

              <div class="col">
                <ul class="sub-menu__list list-unstyled">
                  <li class="sub-menu__item"><a href="/" class="menu-link menu-link_us-s">Home 19</a></li>
                  <li class="sub-menu__item"><a href="/Demo20/index.html" class="menu-link menu-link_us-s">Home 20</a></li>
                  <li class="sub-menu__item"><a href="/Demo21/index.html" class="menu-link menu-link_us-s">Home 21</a></li>
                  <li class="sub-menu__item"><a href="/Demo22/index.html" class="menu-link menu-link_us-s">Home 22</a></li>
                  <li class="sub-menu__item"><a href="/Demo23/index.html" class="menu-link menu-link_us-s">Home 23</a></li>
                </ul>
              </div>
            </div><!-- /.box-menu -->
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Shop</a>
            <div class="mega-menu">
              <div class="container d-flex">
                <div class="col pe-4">
                  <a href="#" class="sub-menu__title">Shop List</a>
                  <ul class="sub-menu__list list-unstyled">
                    <li class="sub-menu__item"><a href="/shop1" class="menu-link menu-link_us-s">Shop List V1</a></li>
                    <li class="sub-menu__item"><a href="shop2.html" class="menu-link menu-link_us-s">Shop List V2</a></li>
                    <li class="sub-menu__item"><a href="shop3.html" class="menu-link menu-link_us-s">Shop List V3</a></li>
                    <li class="sub-menu__item"><a href="shop4.html" class="menu-link menu-link_us-s">Shop List V4</a></li>
                    <li class="sub-menu__item"><a href="shop5.html" class="menu-link menu-link_us-s">Shop List V5</a></li>
                    <li class="sub-menu__item"><a href="shop6.html" class="menu-link menu-link_us-s">Shop List V6</a></li>
                    <li class="sub-menu__item"><a href="shop7.html" class="menu-link menu-link_us-s">Shop List V7</a></li>
                    <li class="sub-menu__item"><a href="shop8.html" class="menu-link menu-link_us-s">Shop List V8</a></li>
                    <li class="sub-menu__item"><a href="shop9.html" class="menu-link menu-link_us-s">Shop List V9</a></li>
                    <li class="sub-menu__item"><a href="shop10.html" class="menu-link menu-link_us-s">Shop Item Style</a></li>
                    <li class="sub-menu__item"><a href="shop11.html" class="menu-link menu-link_us-s">Horizontal Scroll</a></li>
                  </ul>
                </div>

                <div class="col pe-4">
                  <a href="#" class="sub-menu__title">Shop Detail</a>
                  <ul class="sub-menu__list list-unstyled">
                    <li class="sub-menu__item"><a href="product2_variable.html" class="menu-link menu-link_us-s">Shop Detail V1</a></li>
                    <li class="sub-menu__item"><a href="product7_v2.html" class="menu-link menu-link_us-s">Shop Detail V2</a></li>
                    <li class="sub-menu__item"><a href="product8_v3.html" class="menu-link menu-link_us-s">Shop Detail V3</a></li>
                    <li class="sub-menu__item"><a href="product9_v4.html" class="menu-link menu-link_us-s">Shop Detail V4</a></li>
                    <li class="sub-menu__item"><a href="product10_v5.html" class="menu-link menu-link_us-s">Shop Detail V5</a></li>
                    <li class="sub-menu__item"><a href="product11_v6.html" class="menu-link menu-link_us-s">Shop Detail V6</a></li>
                    <li class="sub-menu__item"><a href="product12_v7.html" class="menu-link menu-link_us-s">Shop Detail V7</a></li>
                    <li class="sub-menu__item"><a href="product13_v8.html" class="menu-link menu-link_us-s">Shop Detail V8</a></li>
                    <li class="sub-menu__item"><a href="product14_v9.html" class="menu-link menu-link_us-s">Shop Detail V9</a></li>
                    <li class="sub-menu__item"><a href="product15_v10.html" class="menu-link menu-link_us-s">Shop Detail V10</a></li>
                    <li class="sub-menu__item"><a href="product16_v11.html" class="menu-link menu-link_us-s">Shop Detail V11</a></li>
                  </ul>
                </div>

                <div class="col pe-4">
                  <a href="#" class="sub-menu__title">Other Pages</a>
                  <ul class="sub-menu__list list-unstyled">
                    <li class="sub-menu__item"><a href="shop12.html" class="menu-link menu-link_us-s">Collection Grid</a></li>
                    <li class="sub-menu__item"><a href="product1_simple.html" class="menu-link menu-link_us-s">Simple Product</a></li>
                    <li class="sub-menu__item"><a href="product2_variable.html" class="menu-link menu-link_us-s">Variable Product</a></li>
                    <li class="sub-menu__item"><a href="product3_external.html" class="menu-link menu-link_us-s">External Product</a></li>
                    <li class="sub-menu__item"><a href="product4_grouped.html" class="menu-link menu-link_us-s">Grouped Product</a></li>
                    <li class="sub-menu__item"><a href="product5_onsale.html" class="menu-link menu-link_us-s">On Sale</a></li>
                    <li class="sub-menu__item"><a href="product6_outofstock.html" class="menu-link menu-link_us-s">Out of Stock</a></li>
                    <li class="sub-menu__item"><a href="shop_cart.html" class="menu-link menu-link_us-s">Shopping Cart</a></li>
                    <li class="sub-menu__item"><a href="shop_checkout.html" class="menu-link menu-link_us-s">Checkout</a></li>
                    <li class="sub-menu__item"><a href="shop_order_complete.html" class="menu-link menu-link_us-s">Order Complete</a></li>
                    <li class="sub-menu__item"><a href="shop_order_tracking.html" class="menu-link menu-link_us-s">Order Tracking</a></li>
                  </ul>
                </div>

                <div class="mega-menu__media col">
                  <div class="position-relative">
                    <img loading="lazy" class="mega-menu__img" src="../images/mega-menu-item.jpg" alt="New Horizons">
                    <div class="mega-menu__media-content content_abs content_left content_bottom">
                      <h3>NEW</h3>
                      <h3 class="mb-0">HORIZONS</h3>
                      <a href="/shop1" class="btn-link default-underline fw-medium">SHOP NOW</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.container d-flex -->
            </div>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Blog</a>
            <ul class="default-menu list-unstyled">
              <li class="sub-menu__item"><a href="/blog_list1" class="menu-link menu-link_us-s">Blog V1</a></li>
              <li class="sub-menu__item"><a href="blog_list2.html" class="menu-link menu-link_us-s">Blog V2</a></li>
              <li class="sub-menu__item"><a href="blog_list3.html" class="menu-link menu-link_us-s">Blog V3</a></li>
              <li class="sub-menu__item"><a href="blog_single.html" class="menu-link menu-link_us-s">Blog Detail</a></li>
            </ul><!-- /.box-menu -->
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Pages</a>
            <ul class="default-menu list-unstyled">
              <li class="sub-menu__item"><a href="/account_dashboard" class="menu-link menu-link_us-s">My Account</a></li>
              <li class="sub-menu__item"><a href="/login" class="menu-link menu-link_us-s">Login / Register</a></li>
              <li class="sub-menu__item"><a href="store_location.html" class="menu-link menu-link_us-s">Store Locator</a></li>
              <li class="sub-menu__item"><a href="lookbook.html" class="menu-link menu-link_us-s">Lookbook</a></li>
              <li class="sub-menu__item"><a href="faq.html" class="menu-link menu-link_us-s">Faq</a></li>
              <li class="sub-menu__item"><a href="terms.html" class="menu-link menu-link_us-s">Terms</a></li>
              <li class="sub-menu__item"><a href="404.html" class="menu-link menu-link_us-s">404 Error</a></li>
              <li class="sub-menu__item"><a href="coming_soon.html" class="menu-link menu-link_us-s">Coming Soon</a></li>
            </ul><!-- /.box-menu -->
          </li>
          <li class="navigation__item">
            <a href="/about" class="navigation__link">About</a>
          </li>
          <li class="navigation__item">
            <a href="contact.html" class="navigation__link">Contact</a>
          </li>
        </ul><!-- /.navigation__list -->
      </nav><!-- /.navigation -->

      <div class="header-tools d-flex align-items-center">
        <div class="header-tools__item hover-container">
          <div class="js-hover__open position-relative">
            <a class="js-search-popup search-field__actor" href="#">
              <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_search" /></svg>
              <i class="btn-icon btn-close-lg"></i>
            </a>
          </div>

          <div class="search-popup js-hidden-content">
            <form action="/Demo19/search_result.html" method="GET" class="search-field container">
              <p class="text-uppercase text-secondary fw-medium mb-4">What are you looking for?</p>
              <div class="position-relative">
                <input class="search-field__input search-popup__input w-100 fw-medium" type="text" name="search-keyword" placeholder="Search products">
                <button class="btn-icon search-popup__submit" type="submit">
                  <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_search" /></svg>
                </button>
                <button class="btn-icon btn-close-lg search-popup__reset" type="reset"></button>
              </div>

              <div class="search-popup__results">
                <div class="sub-menu search-suggestion">
                  <h6 class="sub-menu__title fs-base">Quicklinks</h6>
                  <ul class="sub-menu__list list-unstyled">
                    <li class="sub-menu__item"><a href="shop2.html" class="menu-link menu-link_us-s">New Arrivals</a></li>
                    <li class="sub-menu__item"><a href="#" class="menu-link menu-link_us-s">Dresses</a></li>
                    <li class="sub-menu__item"><a href="shop3.html" class="menu-link menu-link_us-s">Accessories</a></li>
                    <li class="sub-menu__item"><a href="#" class="menu-link menu-link_us-s">Footwear</a></li>
                    <li class="sub-menu__item"><a href="#" class="menu-link menu-link_us-s">Sweatshirt</a></li>
                  </ul>
                </div>

                <div class="search-result row row-cols-5"></div>
              </div>
            </form><!-- /.header-search -->
          </div><!-- /.search-popup -->
        </div><!-- /.header-tools__item hover-container -->

        <div class="header-tools__item hover-container">
          <a class="hehe" href="/login" data-aside="customerForms">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_user" /></svg>
          </a>
        </div>

        <a href="/login" class="header-tools__item header-tools__cart js-open-aside" data-aside="cartDrawer">
          <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_cart" /></svg>
          <span class="cart-amount d-block position-absolute js-cart-items-count">3</span>
        </a>

        <a class="header-tools__item" href="account_wishlist.html">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
        </a>

        <a class="header-tools__item" href="#" data-bs-toggle="modal" data-bs-target="#siteMap">
          <svg class="nav-icon" width="25" height="18" viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg"><use href="#icon_nav" /></svg>
        </a>
      </div><!-- /.header__tools -->
    </div><!-- /.header-desk header-desk_type_1 -->
  </div><!-- /.container -->
</header>
<!-- End Header Type 1 -->

<main>
  <div class="mb-4 pb-4"></div>
  <section class="login-register container">
    <h2 class="d-none">Login & Register</h2>
    <ul class="nav nav-tabs mb-5" id="login_register" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link_underscore active" id="login-tab" data-bs-toggle="tab" href="#tab-item-login" role="tab" aria-controls="tab-item-login" aria-selected="true">Login</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link_underscore" id="register-tab" data-bs-toggle="tab" href="#tab-item-register" role="tab" aria-controls="tab-item-register" aria-selected="false">Register</a>
      </li>
    </ul>
    <div class="tab-content pt-2" id="login_register_tab_content">
      <div class="tab-pane fade show active" id="tab-item-login" role="tabpanel" aria-labelledby="login-tab">
        <div class="login-form">
          <form method="post" action="/login" name="login-form" class="needs-validation" novalidate>
            <div class="form-floating mb-3">
              <input name="email" type="email" class="form-control form-control_gray" id="customerNameEmailInput1" placeholder="Email address *" required>
              <label for="customerNameEmailInput1">Email address *</label>
            </div>
  
            <div class="pb-3"></div>
  
            <div class="form-floating mb-3">
              <input name="password" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder="Password *" required>
              <label for="customerPasswodInput">Password *</label>
            </div>
  
            <div class="d-flex align-items-center mb-3 pb-2">
              <div class="form-check mb-0">
                <input name="remember" class="form-check-input form-check-input_fill" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label text-secondary" for="flexCheckDefault1">Remember me</label>
              </div>
              <a href="reset_password.html" class="btn-text ms-auto">Lost password?</a>
            </div>
  
            <button class="btn btn-primary w-100 text-uppercase" type="submit">Log In</button>
  
            <div class="customer-option mt-4 text-center">
              <span class="text-secondary">No account yet?</span>
              <a href="#register-tab" class="btn-text js-show-register">Create Account</a>
            </div>
          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-item-register" role="tabpanel" aria-labelledby="register-tab">
        <div class="register-form">

          <form id="registerForm" method="post" action="/register" name="register-form" class="needs-validation">
            <div class="form-floating mb-3">
              <input name="register_username" id="register_username" type="text" class="form-control form-control_gray" id="customerNameRegisterInput" placeholder="Username" required>
              <label for="customerNameRegisterInput">Username</label>
              <div id="username-error" class="error-message" style="color: red; display: none; margin-top: 0.5rem;">Username already exists.</div>
            </div>
  
            <div class="pb-3"></div>

            <div class="form-floating mb-3">
              <input name="register_email" id="register_email" type="email" class="form-control form-control_gray" id="customerEmailRegisterInput" placeholder="Email address *" required>
              <label for="customerEmailRegisterInput">Email address *</label>
              <div id="email-error" class="error-message" style="color: red; display: none; margin-top: 0.5rem;">Email already exists.</div>
            </div>
  
            <div class="pb-3"></div>
  
            <div class="form-floating mb-3">
              <input name="register_password" id="register_password" type="password" class="form-control form-control_gray" id="customerPasswodRegisterInput" placeholder="Password *" required>
              <label for="customerPasswodRegisterInput">Password *</label>
            </div>
  
            <div class="d-flex align-items-center mb-3 pb-2">
              <p class="m-0">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</p>
            </div>
  
            <button class="btn btn-primary w-100 text-uppercase" type="submit">Register</button>
          
            <script>
              document.getElementById('registerForm').addEventListener('submit', validateForm);
          
              function validateForm(event) {
                event.preventDefault();
          
                let email = document.getElementById('register_email').value;
                let emailError = document.getElementById('email-error');
                let username = document.getElementById('register_username').value;
                let usernameError = document.getElementById('username-error');
          
                if (email && username) {
                  fetch('/register/check', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: email, username: username })
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.emailExists) {
                      emailError.style.display = 'block';
                    } else {
                      emailError.style.display = 'none';
                    }

                    if (data.usernameExists) {
                      usernameError.style.display = 'block';
                    } else {
                      usernameError.style.display = 'none';
                    }

                    if (!data.emailExists && !data.usernameExists) {
                      event.target.submit();
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
                }
              }
            </script>
          
          </form>

        </div>
      </div>
    </div>
  </section>
</main>

<div class="mb-5 pb-xl-5"></div>

<!-- Footer Type 1 -->
<footer class="footer footer_type_1">
  <div class="footer-middle container">
    <div class="row row-cols-lg-5 row-cols-2">
      <div class="footer-column footer-store-info col-12 mb-4 mb-lg-0">
        <div class="logo">
          <a href="/">
            <img src="../images/logo.png" alt="Uomo" class="logo__image d-block">
          </a>
        </div><!-- /.logo -->
        <p class="footer-address">1418 River Drive, Suite 35 Cottonhall, CA 9622 United States</p>

        <p class="m-0">
          <strong class="fw-medium">sale@uomo.com</strong>
        </p>
        <p>
          <strong class="fw-medium">+1 246-345-0695</strong>
        </p>

        <ul class="social-links list-unstyled d-flex flex-wrap mb-0">
          <li>
            <a href="https://www.facebook.com/" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_facebook" width="9" height="15" viewBox="0 0 9 15" xmlns="http://www.w3.org/2000/svg"><use href="#icon_facebook" /></svg>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_twitter" width="14" height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><use href="#icon_twitter" /></svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_instagram" width="14" height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><use href="#icon_instagram" /></svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_youtube" width="16" height="11" viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg"><path d="M15.0117 1.8584C14.8477 1.20215 14.3281 0.682617 13.6992 0.518555C12.5234 0.19043 7.875 0.19043 7.875 0.19043C7.875 0.19043 3.19922 0.19043 2.02344 0.518555C1.39453 0.682617 0.875 1.20215 0.710938 1.8584C0.382812 3.00684 0.382812 5.46777 0.382812 5.46777C0.382812 5.46777 0.382812 7.90137 0.710938 9.07715C0.875 9.7334 1.39453 10.2256 2.02344 10.3896C3.19922 10.6904 7.875 10.6904 7.875 10.6904C7.875 10.6904 12.5234 10.6904 13.6992 10.3896C14.3281 10.2256 14.8477 9.7334 15.0117 9.07715C15.3398 7.90137 15.3398 5.46777 15.3398 5.46777C15.3398 5.46777 15.3398 3.00684 15.0117 1.8584ZM6.34375 7.68262V3.25293L10.2266 5.46777L6.34375 7.68262Z"/></svg>
            </a>
          </li>
          <li>
            <a href="https://www.pinterest.com/" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_pinterest" width="14" height="15" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"><use href="#icon_pinterest" /></svg>
            </a>
          </li>
        </ul>
      </div><!-- /.footer-column -->

      <div class="footer-column footer-menu mb-4 mb-lg-0">
        <h6 class="sub-menu__title text-uppercase">Company</h6>
        <ul class="sub-menu__list list-unstyled">
          <li class="sub-menu__item"><a href="/about" class="menu-link menu-link_us-s">About Us</a></li>
          <li class="sub-menu__item"><a href="/about" class="menu-link menu-link_us-s">Careers</a></li>
          <li class="sub-menu__item"><a href="/about" class="menu-link menu-link_us-s">Affiliates</a></li>
          <li class="sub-menu__item"><a href="/blog_list1" class="menu-link menu-link_us-s">Blog</a></li>
          <li class="sub-menu__item"><a href="contact.html" class="menu-link menu-link_us-s">Contact Us</a></li>
        </ul>
      </div><!-- /.footer-column -->

      <div class="footer-column footer-menu mb-4 mb-lg-0">
        <h6 class="sub-menu__title text-uppercase">Shop</h6>
        <ul class="sub-menu__list list-unstyled">
          <li class="sub-menu__item"><a href="shop2.html" class="menu-link menu-link_us-s">New Arrivals</a></li>
          <li class="sub-menu__item"><a href="shop3.html" class="menu-link menu-link_us-s">Accessories</a></li>
          <li class="sub-menu__item"><a href="shop4.html" class="menu-link menu-link_us-s">Men</a></li>
          <li class="sub-menu__item"><a href="shop5.html" class="menu-link menu-link_us-s">Women</a></li>
          <li class="sub-menu__item"><a href="/shop1" class="menu-link menu-link_us-s">Shop All</a></li>
        </ul>
      </div><!-- /.footer-column -->

      <div class="footer-column footer-menu mb-4 mb-lg-0">
        <h6 class="sub-menu__title text-uppercase">Help</h6>
        <ul class="sub-menu__list list-unstyled">
          <li class="sub-menu__item"><a href="/about" class="menu-link menu-link_us-s">Customer Service</a></li>
          <li class="sub-menu__item"><a href="/account_dashboard" class="menu-link menu-link_us-s">My Account</a></li>
          <li class="sub-menu__item"><a href="store_location.html" class="menu-link menu-link_us-s">Find a Store</a></li>
          <li class="sub-menu__item"><a href="/about" class="menu-link menu-link_us-s">Legal & Privacy</a></li>
          <li class="sub-menu__item"><a href="contact.html" class="menu-link menu-link_us-s">Contact</a></li>
          <li class="sub-menu__item"><a href="/about" class="menu-link menu-link_us-s">Gift Card</a></li>
        </ul>
      </div><!-- /.footer-column -->

      <div class="footer-column footer-newsletter col-12 mb-4 mb-lg-0">
        <h6 class="sub-menu__title text-uppercase">Subscribe</h6>
        <p>Be the first to get the latest news about trends, promotions, and much more!</p>
        <form action="/Demo19/index.html" class="footer-newsletter__form position-relative bg-body">
          <input class="form-control border-white" type="email" name="email" placeholder="Your email address">
          <input class="btn-link fw-medium bg-white position-absolute top-0 end-0 h-100" type="submit" value="JOIN">
        </form>

        <div class="mt-4 pt-3">
          <strong class="fw-medium">Secure payments</strong>
          <p class="mt-2">
            <img loading="lazy" src="../images/payment-options.png" alt="Acceptable payment gateways">
          </p>
        </div>
      </div><!-- /.footer-column -->
    </div><!-- /.row-cols-5 -->
  </div><!-- /.footer-middle container -->

  <div class="footer-bottom container">
    <div class="d-block d-md-flex align-items-center">
      <span class="footer-copyright me-auto">©2024 Uomo</span>
      <div class="footer-settings d-block d-md-flex align-items-center">
        <div class="d-flex align-items-center">
          <label for="footerSettingsLanguage" class="me-2 text-secondary">Language</label>
          <select id="footerSettingsLanguage" class="form-select form-select-sm bg-transparent" aria-label="Default select example" name="store-language">
            <option class="footer-select__option" selected>United Kingdom | English</option>
            <option class="footer-select__option" value="1">United States | English</option>
            <option class="footer-select__option" value="2">German</option>
            <option class="footer-select__option" value="3">French</option>
            <option class="footer-select__option" value="4">Swedish</option>
          </select>
        </div>

        <div class="d-flex align-items-center">
          <label for="footerSettingsCurrency" class="ms-md-3 me-2 text-secondary">Currency</label>
          <select id="footerSettingsCurrency" class="form-select form-select-sm bg-transparent" aria-label="Default select example" name="store-language">
            <option selected>$ USD</option>
            <option value="1">£ GBP</option>
            <option value="2">€ EURO</option>
          </select>
        </div>
      </div><!-- /.footer-settings -->
    </div><!-- /.d-flex -->
  </div><!-- /.footer-bottom container -->
</footer><!-- /.footer footer_type_1 -->
<!-- End Footer Type 1 -->