<!-- Mobile Fixed Footer -->
<footer class="footer-mobile container w-100 px-5 d-md-none bg-body">
  <div class="row text-center">
    <div class="col-4">
      <a href="https://uomo-html.flexkitux.com/" class="footer-mobile__link d-flex flex-column align-items-center">
        <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_home" /></svg>
        <span>Home</span>
      </a>
    </div><!-- /.col-3 -->

    <div class="col-4">
      <a href="https://uomo-html.flexkitux.com/" class="footer-mobile__link d-flex flex-column align-items-center">
        <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_hanger" /></svg>
        <span>Shop</span>
      </a>
    </div><!-- /.col-3 -->

    <div class="col-4">
      <a href="https://uomo-html.flexkitux.com/" class="footer-mobile__link d-flex flex-column align-items-center">
        <div class="position-relative">
          <svg class="d-block" width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
          <span class="wishlist-amount d-block position-absolute js-wishlist-count">3</span>
        </div>
        <span>Wishlist</span>
      </a>
    </div><!-- /.col-3 -->
  </div><!-- /.row -->
</footer><!-- /.footer-mobile container position-fixed d-md-none bottom-0 -->